
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: AG;
    src: url(../fonts/Akzidenz-Grotesk-Pro-Regular-Regular.woff2) format(woff2);
}

html, body {
    background-color: #ec3730;
    font-family: 'AG', 'Helvetica Neue Bold', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

p {
    color: whitesmoke;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-grow: 2;
}

a:visited {
    color: rgb(255, 168, 168);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 168, 168);
text-decoration: none;
}

a:any-link {
    color: white;
    text-decoration: none;
}

h4 {
    font-family: 'AG', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 1.8em;
    font-weight: lighter;
}

h5 {
    font-family: 'AG', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 2vmax;
    font-style: italic;
    font-weight: bolder;
}


h6 {
    font-family: 'AG', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 0.4vmax;
    font-style: italic;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-grow: 2;
}

a:hover {
    color: #ec3730;
}

header {
    display: flex;
    height: 15%;
    justify-content: space-between;
    padding: 30px 9.5% 0px 10%;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0px 11% 0px 11%;
}

.aisle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 32%;
    margin: 10px 0 20px 0;
    padding: 10px 10px 10px 10px;
    border: 2px  lightsalmon;
    border-style: dashed;
    color: white;
    font-size: 15px;
}

.aisleIcon {
    display:flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-left: 2px;
    padding-right: 2px;
    height: 70px;
    width: 10%;
    min-width: 10px;
    margin-bottom: 2%;
}

.aisleHeader {
    display: flex;
    z-index: 999;
    width: 99%;
    padding-left: 4px;
    flex-direction: row;
    justify-content: space-between;
}

.aisleIconRow {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
}

.aislelong {
    display: flex;
    height: 220px;
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px 10px 10px 10px;
    border: 2px  lightsalmon;
    border-style: dashed;
    color: white;
    font-size: 15px;
}

.aisle:hover {
    background-color: lightsalmon;
    color: #ec3730;
    cursor: pointer;
}

.aislelong:hover {
    background-color: lightsalmon;
    color: #ec3730;
    cursor: pointer;
}


footer {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 10%;
    padding: 0px 200px 50px 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;

}

li {
    text-decoration: none;
    color: white;
    text-align: right;
    display: block;
    float: left;
    margin: 20px 30px;
}

li a {
    text-decoration: none;
    color: white;
    text-align: right;

}

li a:hover {
    text-decoration: none;
    text-align: right;

    color: rgb(255, 168, 168);
}

.aislesLogo {
    display: flex;
    position: relative;
    justify-content: flex-end space-around;
    height: 65px;
    width: 60%;
}

.metalinks {
    display: flex;
    position: relative;
    justify-content: flex-end bottom;
    height: 40%;
    width: 40%;
}

.metaSlogan {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 1.2vmin;
}

.metaButton {
    margin: 50px;
    padding: 50px;
}

.meta {
    font-size: 50px;
    position: relative;
    text-align: center;
}
.metaSloganButton {
    display: flex;
    position: relative;
    height: 4vh;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
}

.metaNavButton {
    display: flex;
    position: relative;
    height: 48px;
    width: 48px;
    justify-content: center;
    vertical-align: middle;
}

a.button {
    background-color: #ec3730;
    border: 2px rgb(240, 234, 234);
    border-radius: 35px;
    border-style: solid;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5vh;
    width: 9%;
  }

  a.button:hover {
    color: #ec3730;
    border-color: 2px rgb(0, 0, 0);
    background-color: #ffffff;
}

.footer-nav {
    width: 100%;
    padding-top: 50px;
    padding-left: 48.25%;
    padding-right: 48.25%;
    display: flex;
    justify-content: center;
}

.topNavButton {
    display: flex;
    position: relative;
    height: 2vmax;
    width: 2vmax;
    justify-content: center;
    vertical-align: middle;
}

.zoomA {

    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
  }

.zoomA:hover {
    transform: scale(1.2);
 }


 @media screen and (max-width: 1400px) {
    header {
        width: 100%;
        justify-content: center;
        padding: 30px 4.5% 0px 5%;
    }    

      }

      @media screen and (max-width: 900px) {
        header {
            width: 100%;
            justify-content: center;
        }
        
        .metaLinks {
            display: none;
        }
        
        .aislesLogo {
            width: 100%;

            justify-content: center;
            padding-left: 5px;
        }
        
          }
        
          @media screen and (max-height: 1500px) {
            header {
                padding-bottom: 100px;
            }   
         
              }