
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: AG;
    src: url(fonts/Akzidenz-Grotesk-Pro-Regular-Regular.woff2) format(woff2);
}

html, body {
    background-color: #ec3730;
    font-family: 'AG', 'Helvetica Neue Bold', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

p {
    color: whitesmoke;
}

h4 {
    font-family: 'AG', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 1.8em;
}

@media screen and (min-width: 320px) {
    h4 {
        font-size: 20px;
    }
  }

  @media (min-width: 3000px) and screen  {
    h4 {
        font-size: 70px;
    }
  }  

h6 {
    font-family: 'AG', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 0.4vmax;
    font-style: italic;
    font-weight: lighter;
}

a:hover {
    color: rgb(255, 168, 168);
text-decoration: none;
}

header {
    display: flex;
    height: 43%;
    justify-content: center;
}

main {
    position: relative;
    display: inline-block;
    width: 100%;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 40%;
}

.metaLogoBig {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 47.5%;
    min-width: 500px; 
}

.metaSlogan {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 1.2vmin;
}

.metaButton {
    margin: 50px;
    padding: 50px;
}

.meta {
    font-size: 50px;
    position: relative;
    text-align: center;
}

.metaSloganButton {
    display: flex;
    position: relative;
    height: 4vh;
    width: 100%;
    justify-content: center;
    vertical-align: center;
}

a.button {
    background-color: #ec3730;
    border: 2px rgb(240, 234, 234);
    border-radius: 35px;
    border-style: solid;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5vh;
    width: 9%;
  }

  a.button:hover {
    color: #ec3730;
    border-color: 2px rgb(0, 0, 0);
    background-color: #ffffff;
    

}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 168, 168);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 168, 168);
text-decoration: none;
}

a:any-link {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .metaLogoBig {
        width: 100px;
    }
}