* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
  font-family: "GSAPP Mono", "Helvetica Neue", "Roboto", sans-serif;
  height: 100%;
  box-sizing: border-box;
  background-color: tomato;
}

header {
    display: block;
    height: 15%;
    text-align: center;
    background-color: lightsalmon;
}

nav {
    display: block;
    height: 10%;
    text-align: center;
    background-color: tomato;
}

footer {
    display: block;
    position:fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: tomato;
}


.navbar {
    display: inline-block;
    padding: 0 20px 0 20px;
    background-color:royalblue;
    color: #fff;
}

.container {
    background-color: lemonchiffon;
    height: 100%;
}

.box {
    background-color: yellow;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 2;
}

main {
    height: 100%;
}

aside {
    display: inline-block;
    background-color: slategray;
    width: 15%;
    height: 100%;
    float: left;
}

section {
    display: flex;
    background-color: lavender;
    width: 70%;
    height: 100%;
    float: left;
}
