* {
    margin: 20px 20px 20px 20px;
}

body {
    background-color: cornflowerblue;
}

h1 {
    font-family: 'Helvetica Neue';
    color:royalblue;
}

p {
    font-family: 'Helvetica Neue';
    color: royalblue;
    font-weight: 900;
}

a {
    color: yellow;
}

a:hover {
    color: darkslategrey;
}

.box {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    border-style: dotted;
    border: 1px;
    border-color: darkslategrey;
}

.container {
    text-align: left;
    position: relative;
    width: 40%;
    border-style: dotted;
    border: 1px;
    border-color: darkslategrey;
}