@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  /* Makes the class apply to everything and override default css settings. */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* idk what this is, check it out */
}

html,
body {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 1) 300px,
    rgba(250, 250, 250, 0) 400px,
    rgba(250, 250, 250, 0) 100%
  );
  background-repeat: no-repeat;
}

@font-face {
  font-family: "gsapp";
  src: url(https://d37vpt3xizf75m.cloudfront.net/assets/gsapp_night/gsapp_night-1e77dcb719f10ffcb047a72184927ee2581aa08840a78e233b5668a0522e5f7d.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gsapp-mono";
  src: url(https://d37vpt3xizf75m.cloudfront.net/assets/gsapp_mono/gsapp_mono-8968a1ec0780fa6cd021f5a9f5de05cdf16e254b7e955534cdbf202b39f5215b.woff2);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
}

h2 {
}

h3 {
  color: #000;
  font-family: "gsapp", sans-serif;
  font-size: 54px;
}

.gsappsmall {
  font-family: "gsapp-mono", sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4em;
}

.gsappbig {
  font-family: "gsapp", sans-serif;
  font-weight: 100;
  font-size: 50px;
  line-height: 0em;
}

.lux {
  color: white;
}

.topbar {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 25px 275px;
  z-index: 2;
}

.topbargradient {
  display: block;
  position: fixed;
  top: 0px;
width: 100%;
height: 400px;
  background: linear-gradient(
    180deg,
    rgba(96, 110, 225, 1) 4px,
    rgba(250, 250, 250, 0) 300px,
    rgba(250, 250, 250, 0) 100%
  );
  background-repeat: no-repeat;
  z-index: 1;
}

.logonav {
  height: 100%;
  display: inline-block;
  padding: 0px 25px;
}
.menunav {
  height: 100%;
  display: inline-block;
  float: right;
}
.menunav a {
  color: white;
  letter-spacing: 0.08rem;
  font-size: 17px;
  font-weight: 300;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
}

.menunav2 {
  height: 100%;
  display: inline-block;
  float: right;
}
.menunav2 a {
  color: white;
  letter-spacing: 0.08rem;
  font-size: 17px;
  font-weight: 300;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
}

.menunav3 {
  height: 100%;
  display: inline-block;
  float: right;
}
.menunav3 a {
  color: white;
  letter-spacing: 0.08rem;
  font-size: 17px;
  font-weight: 300;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
}

.abox {
  border-style: solid;
  border-width: 1px;
}

.title {
  text-align: center;
  margin: 70px 23% 100px;
}

.socialborder {
  border: 1px solid #00ff00;
  padding: 0 40px 0 0px;
}

.subtitle {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container {
  /* width: 100%; */
  padding: 0 0px 100px 0px;
  margin: 50px 15%;
  background-color: rgba(250, 250, 250, 1);
}

.mm {
  display: inline-block;
  background-color: rgba(250, 250, 250, 1);
width: 100%;
}

.main {
  display: inline-block;
  width: 76%;
  padding-right: 20px;
  background-color: rgba(250, 250, 250, 1);

}

.sidebar {
  display: inline-block;
  width: 24%;
  height: 100%;
  float: right;
  background-color: rgba(250, 250, 250, 1);
  z-index: 500;

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: -100;
  display: flex;
  position: fixed;
  padding: 600px 0px 300px 10%;
  background-color: rgba(0, 0, 250, 1);
}

.footercol {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  width: 60%;
  float: left;
}

.footertop {
  background: linear-gradient(
    00deg,
    rgba(0, 0, 250, 0) 0px,
    rgba(250, 250, 250, 1) 160px,
    rgba(250, 250, 250, 1) 180px,
    rgba(250, 250, 250, 1) 100%
  );
  padding: 00px 0px 160px 0px;
  background-repeat: no-repeat;
}

.footertopbar {
  display: block;
  padding: 00px 0px 300px 0px;
}

.footernav {
  display: inline-block;
  float: left;
  text-align: right;
  font-size: 20px;
}

a:visited {
}

.neon {
  color: #00ff00;
  text-decoration: none;
}

.neonu {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #00ff00;
}

.register {
  text-transform: uppercase;
}

@media screen and (min-width: 1500px) {

  .menunav2 {
    display:none;
  }

  .title {
    text-align: center;
    margin: 70px 30% 100px;
  }

  .menunav3 {
    display:none;
  }

  .container {
    /* width: 100%; */
    padding: 0 0px 100px 0px;
    margin: 50px 25%;
    background-color: rgba(250, 250, 250, 1);
  }
}


@media screen and (min-width: 2000px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 25%;
      }

  .title {
    text-align: center;
    margin: 70px 35% 100px;
  }
}

@media screen and (max-width: 1500px) {
  .topbar {
display: flex;
justify-content: space-between;
padding: 25px 25%;

  }
  .logonav {
    height: 100%;
    display: flex;
  justify-content: flex-start;  }

  .menunav {
    display:none;
  }

  .menunav2 {
    display: flex;
  justify-content: flex-end; 
  }
  .menunav3 {
    display:none;
  }
}


@media screen and (max-width: 1200px) {
  .topbar {
display: flex;
justify-content: space-between;
padding: 25px 150px;
  }

.footer {
  padding: 600px 0px 300px 5%;
}

  .logonav {
    height: 100%;
    display: flex;
  justify-content: center;  }

  .menunav {
    display:none;
  }

  .menunav2 {
    display: flex;

  }

  .menunav3 {
    display: none;
  }
}


@media screen and (max-width: 900px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 110px;

  }

  .logonav {
    height: 100%;
    display: flex;
  justify-content: flex-start;  }

  .menunav {
    display:none;
  }

  .menunav2 {
    display:none;
  }

  .menunav3 {
    display: flex;
  justify-content: space-between; 
  }

  .footer {
    padding: 600px 0px 300px 10%;
  }

  .footernav {
    display:  none;
  }
  
}


@media screen and (max-width: 600px) {
  .topbar {
    display: flex;
    justify-content: center;
    padding: 25px 150px;
  }

  .title {
    padding-left: %1;
    padding-right: %1;
  }

  .logonav {
    height: 100%;
    display: flex;
    position: fixed;
  justify-content: center;  }

  .menunav {
    display:none;
  }

  .menunav2 {
    display:none;
  }

  .menunav3 {
    display: none;
  }

  .footer {
    padding: 600px 0px 300px 10%;
  }

  .footernav {
    display:  none;
  }
  
}