body {
    background-color: rgb(255, 170, 60);
}

.square {
    width: 150px;
    height: 150px;
    background: rgb(255, 129, 71);
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(800px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.run-animation {
    animation: slide 5s;
    animation-iteration-count: 5;
}