.square {
    width: 150px;
    height: 150px;
    background: tomato;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(800px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.run-animation {
    animation: slide 5s;
    animation-iteration-count: 5;
}